PORT=8080,
JWT_SECRET="your-jwt-secret",
NODE_ENV="development",
MIDTRANS_SERVER_KEY="your-midtrans-sandbox-key",
MIDTRANS_CLIENT_KEY="your-midtrans-sandbox-key",
IS_PRODUCTION="false",
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="your-database-uri"